//-- Variables: --//

// Media Queries:
$m_smallest: 300px;
$m_smaller: 400px;
$m_small: 500px;
$m_tablet: 768px;
$m_medium: 960px;
$m_large: 1140px;
$m_larger: 1400px;
$m_huge: 1600px;

// Colours:
$c_bg: #f9f9f9;
$c_base: #333;
$c_base_light: #717171;
$c_primary: #3777ad;
$c_opposite: #fff;

// Default styles:
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  color: $c_base;
  background: $c_bg;
  font-size: 90%;

  @media screen and (min-width: $m_small) {
    font-size: 95%;
  }

  @media print {
    font-size: 58%;
    background: $c_opposite;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
}

li,
p,
blockquote {
  line-height: 1.5em;
}

.wrapper {
  @media screen {
    width: 90%;
    max-width: 75em;
    margin: 0 auto;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 1em 0;
  text-align: center;
}
