//-- Variables: --//

// Media Queries:
$m_smallest: 300px;
$m_smaller: 400px;
$m_small: 500px;
$m_tablet: 768px;
$m_medium: 960px;
$m_large: 1140px;
$m_larger: 1400px;
$m_huge: 1600px;

// Colours:
$c_bg: #f9f9f9;
$c_base: #333;
$c_base_light: #777;
$c_primary: steelblue;
$c_opposite: #fff;

// Other:
$base_text: 0.85em;

// Default styles:
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Droid Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: $c_bg;
  color: $c_base;
  font-size: 90%;
  @media screen and (min-width: $m_small) {
    font-size: 100%;
  }
  @media print {
    font-size: 80%;
    background: $c_opposite;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1em;
}
li,
p,
blockquote {
  line-height: 1.5em;
}

.wrapper {
  @media screen {
    width: 90%;
    margin: 0 5%;
  }
  @media only screen and (min-width: $m_medium * 1.1) {
    width: $m_medium;
    margin: 0 auto;
  }
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 1em 0;
  text-align: center;
}
* {
  box-sizing: border-box;
}
